<div class="sharing">
  {% if site.twitter_tweet_button %}
  <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
  {% endif %}
  {% if site.google_plus_one %}
  <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
  {% endif %}
  {% if site.facebook_like %}
    <div class="fb-like" data-send="false" data-width="300" data-show-faces="false"></div>
  {% endif %}
  <div style="margin-top:1em;"><script type="text/javascript"><!--
    google_ad_client = "ca-pub-4557726861276515";
    /* niltsh.github.com-small */
    google_ad_slot = "3793320506";
    google_ad_width = 468;
    google_ad_height = 60;
    //-->
  </script>
  <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script></div>
</div>
