{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}
<div style="margin-left:auto;margin-right:auto;background:#000;border-bottom:0px;width:728px;height:90px;">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-4557726861276515";
/* niltsh.github.com-homepage-banner */
google_ad_slot = "6746786906";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
